Repository emundus/v6, pull requests merged in 2018-12, with the labels that each got.

#466 Minor fixes
  administrator/components/com_emundus/controllers/migration.php
  administrator/components/com_emundus/models/migration.php
  components/com_emundus/language/en-GB/en-GB.com_emundus.ini
  components/com_emundus/language/fr-FR/fr-FR.com_emundus.ini
Labels: bugfix, enhancement

#468 Added custom normandy script for assigning files to groups based on research axis.
  plugins/fabrik_form/php/scripts/emundus-NORMANDY_assign_to_groups.php
Labels: Plugin

#467 Block the users trying to send the wrong file types
  components/com_emundus/language/en-GB/en-GB.com_emundus.ini
  components/com_emundus/language/fr-FR/fr-FR.com_emundus.ini
  components/com_emundus/views/checklist/tmpl/default.php
Labels: Uploads, enhancement

#476 Parse int while inserting the value in the array so we don't get 0 an…
  modules/mod_emundus_graphs/tmpl/default.php
Labels: bugfix

#482 Added ability to have multiple profiles in IsApplicationSent.
  plugins/fabrik_form/emundusisapplicationsent/emundusisapplicationsent.php
  plugins/fabrik_form/emundusisapplicationsent/language/en-GB/en-GB.plg_fabrik_form_emundusisapplicationsent.ini
  plugins/fabrik_form/emundusisapplicationsent/language/fr-FR/fr-FR.plg_fabrik_form_emundusisapplicationsent.ini
Labels: feature

#481 Build 3.9.1/20181204
  components/com_emundus/views/checklist/tmpl/default.php
  plugins/fabrik_form/emundusisapplicationsent/emundusisapplicationsent.php
  plugins/fabrik_form/emundusisapplicationsent/language/en-GB/en-GB.plg_fabrik_form_emundusisapplicationsent.ini
  plugins/fabrik_form/emundusisapplicationsent/language/fr-FR/fr-FR.plg_fabrik_form_emundusisapplicationsent.ini
Labels: feature

#484 Negated condition on status check in new plugin.
  plugins/fabrik_form/emundusisapplicationsent/emundusisapplicationsent.php
Labels: Plugin, bugfix

#483 Negated condition on status check in new plugin.
  plugins/fabrik_form/emundusisapplicationsent/emundusisapplicationsent.php
Labels: Plugin, bugfix, patch

#488 Bugfixes and CCIRS videos.
  components/com_emundus/models/application.php
  components/com_emundus/models/decision.php
  components/com_emundus/models/evaluation.php
  components/com_emundus/models/files.php
  components/com_fabrik/views/details/tmpl/cci_search_engine/default.php
  components/com_fabrik/views/form/tmpl/bootstrap/default.php
  plugins/fabrik_form/php/scripts/emundus-PULPE-evaluation.php
  plugins/fabrik_form/php/scripts/emundus-final_grade.php
Labels: bugfix, feature

#490 Used some super tricky manual overriding of the composer files to get…
  components/com_emundus/models/files.php
  libraries/vendor/composer/autoload_psr4.php
  libraries/vendor/composer/autoload_static.php
  libraries/vendor/composer/installed.json
Labels: Exports, bugfix, emails

#491 Another batch of bugfixes.
  components/com_emundus/models/files.php
  libraries/vendor/composer/autoload_psr4.php
  libraries/vendor/composer/autoload_static.php
  libraries/vendor/composer/installed.json
  plugins/fabrik_form/emundussetprofile/emundussetprofile.php
Labels: Exports, Plugin, bugfix, emails

#493 Added translation to radio buttons and added ability to hide user menu in emundus panel.
  components/com_emundus/models/application.php
  modules/mod_emunduspanel/language/en-GB/en-GB.mod_emunduspanel.ini
  modules/mod_emunduspanel/language/fr-FR/fr-FR.mod_emunduspanel.ini
  modules/mod_emunduspanel/mod_emunduspanel.php
  modules/mod_emunduspanel/mod_emunduspanel.xml
  modules/mod_emunduspanel/tmpl/default.php
Labels: Module, bugfix, feature

#489 Build 3.9.1/20181206
  components/com_emundus/models/application.php
  components/com_emundus/models/decision.php
  components/com_emundus/models/evaluation.php
  components/com_emundus/models/files.php
  components/com_fabrik/views/details/tmpl/cci_search_engine/default.php
  components/com_fabrik/views/form/tmpl/bootstrap/default.php
  libraries/vendor/composer/autoload_psr4.php
  libraries/vendor/composer/autoload_static.php
  libraries/vendor/composer/installed.json
  modules/mod_emunduspanel/language/en-GB/en-GB.mod_emunduspanel.ini
  modules/mod_emunduspanel/language/fr-FR/fr-FR.mod_emunduspanel.ini
  modules/mod_emunduspanel/mod_emunduspanel.php
  modules/mod_emunduspanel/mod_emunduspanel.xml
  modules/mod_emunduspanel/tmpl/default.php
  plugins/fabrik_form/emundussetprofile/emundussetprofile.php
  plugins/fabrik_form/php/scripts/emundus-PULPE-evaluation.php
  plugins/fabrik_form/php/scripts/emundus-final_grade.php
Labels: bugfix

#494 Added support for multiple status in emundusSetStatus and fixed final_grade
  plugins/fabrik_form/emundussetprofile/emundussetprofile.php
  plugins/fabrik_form/emundussetprofile/language/en-GB/en-GB.plg_fabrik_form_emundussetprofile.ini
  plugins/fabrik_form/emundussetprofile/language/fr-FR/fr-FR.plg_fabrik_form_emundussetprofile.ini
  plugins/fabrik_form/php/scripts/emundus-final_grade.php
Labels: Plugin, bugfix, feature

#496 Minor bugfixes
  components/com_emundus/models/application.php
  components/com_fabrik/views/details/tmpl/bootstrap/default.php
  components/com_fabrik/views/form/tmpl/bootstrap/default.php
Labels: bugfix

#495 Build 3.9.1/20181210
  components/com_emundus/models/application.php
  components/com_fabrik/views/details/tmpl/bootstrap/default.php
  components/com_fabrik/views/form/tmpl/bootstrap/default.php
  plugins/fabrik_form/emundussetprofile/emundussetprofile.php
  plugins/fabrik_form/emundussetprofile/language/en-GB/en-GB.plg_fabrik_form_emundussetprofile.ini
  plugins/fabrik_form/emundussetprofile/language/fr-FR/fr-FR.plg_fabrik_form_emundussetprofile.ini
  plugins/fabrik_form/php/scripts/emundus-final_grade.php
Labels: Plugin, bugfix, feature

#498 Added support for cascadingdropdowns in XLS export as well as general setFabrik function.
  administrator/components/com_emundus/emundus.xml
  administrator/components/com_emundus/views/panel/tmpl/default.php
  components/com_emundus/models/emails.php
  components/com_emundus/models/files.php
  components/com_emundus/views/checklist/tmpl/default.php
  media/com_emundus/css/emundus.css
  plugins/fabrik_form/emundusconfirmpost/emundusconfirmpost.php
  plugins/fabrik_form/emundusisapplicationsent/emundusisapplicationsent.php
  plugins/fabrik_form/php/scripts/emundus-confirm_post.php
  plugins/fabrik_form/php/scripts/emundus-isApplicationSent.php
Labels: Exports, Plugin, bugfix

#499 Build 3.9.1/20191211
  administrator/components/com_emundus/emundus.xml
  administrator/components/com_emundus/views/panel/tmpl/default.php
  components/com_emundus/models/emails.php
  components/com_emundus/models/files.php
  components/com_emundus/views/checklist/tmpl/default.php
  media/com_emundus/css/emundus.css
  plugins/fabrik_form/emundusconfirmpost/emundusconfirmpost.php
  plugins/fabrik_form/emundusisapplicationsent/emundusisapplicationsent.php
  plugins/fabrik_form/php/scripts/emundus-confirm_post.php
  plugins/fabrik_form/php/scripts/emundus-isApplicationSent.php
Labels: Exports, Plugin, Production, bugfix

#500 Emundus registration email.
  administrator/components/com_admin/sql/updates/mysql/3.9.1-2018-12-13-em.sql
  components/com_emundus/controllers/files.php
  components/com_emundus/controllers/messages.php
  components/com_emundus/models/messages.php
  plugins/user/emundus_registration_email/emundus_registration_email.php
  plugins/user/emundus_registration_email/emundus_registration_email.xml
  plugins/user/emundus_registration_email/index.html
  plugins/user/emundus_registration_email/language/en-GB/en-GB.plg_user_emundus_registration_email.ini
  plugins/user/emundus_registration_email/language/fr-FR/fr-FR.plg_user_emundus_registration_email.ini
  plugins/user/emundus_registration_email/language/index.html
Labels: Plugin, emails, feature

#501 Emundus activation email plugin.
  administrator/components/com_admin/sql/updates/mysql/3.9.1-2018-12-13-em.sql
  components/com_emundus/controllers/files.php
  components/com_emundus/controllers/messages.php
  components/com_emundus/models/messages.php
  media/com_emundus/css/emundus_files.css
  plugins/fabrik_form/emundusconfirmpost/emundusconfirmpost.php
  plugins/fabrik_form/php/scripts/emundus-confirm_post.php
  plugins/user/emundus_registration_email/emundus_registration_email.php
  plugins/user/emundus_registration_email/emundus_registration_email.xml
  plugins/user/emundus_registration_email/index.html
  plugins/user/emundus_registration_email/language/en-GB/en-GB.plg_user_emundus_registration_email.ini
  plugins/user/emundus_registration_email/language/fr-FR/fr-FR.plg_user_emundus_registration_email.ini
  plugins/user/emundus_registration_email/language/index.html
Labels: Plugin, emails, feature

#502 Build 3.9.1/20181214
  administrator/components/com_admin/sql/updates/mysql/3.9.1-2018-12-13-em.sql
  components/com_emundus/controllers/files.php
  components/com_emundus/controllers/messages.php
  components/com_emundus/language/en-GB/en-GB.com_emundus.ini
  components/com_emundus/language/fr-FR/fr-FR.com_emundus.ini
  components/com_emundus/models/messages.php
  media/com_emundus/css/emundus_files.css
  plugins/fabrik_form/emundusconfirmpost/emundusconfirmpost.php
  plugins/fabrik_form/php/scripts/emundus-confirm_post.php
  plugins/user/emundus_registration_email/emundus_registration_email.php
  plugins/user/emundus_registration_email/emundus_registration_email.xml
  plugins/user/emundus_registration_email/index.html
  plugins/user/emundus_registration_email/language/en-GB/en-GB.plg_user_emundus_registration_email.ini
  plugins/user/emundus_registration_email/language/fr-FR/fr-FR.plg_user_emundus_registration_email.ini
  plugins/user/emundus_registration_email/language/index.html
  templates/g5_helium/html/com_users/registration/default.php
Labels: Plugin, Production, emails, feature

#506 Small plugin improvements.
  administrator/components/com_emundus/config.xml
  components/com_emundus/controllers/users.php
  components/com_emundus/models/users.php
  components/com_emundus/views/users/tmpl/user.php
  components/com_emundus/views/users/view.raw.php
  plugins/fabrik_form/php/scripts/profileChangeWithElementINHA.php
  plugins/user/emundus_registration_email/emundus_registration_email.php
Labels: Component, Plugin, emails, enhancement, users

#507 Build 3.9.1/20181218
  administrator/components/com_emundus/config.xml
  components/com_emundus/controllers/users.php
  components/com_emundus/models/users.php
  components/com_emundus/views/users/tmpl/user.php
  components/com_emundus/views/users/view.raw.php
  plugins/fabrik_form/php/scripts/profileChangeWithElementINHA.php
  plugins/user/emundus_registration_email/emundus_registration_email.php
Labels: Component, Plugin, emails, users
