Repository emundus/v6, pull requests merged in 2019-05, with the labels that each got.

#673 SUPE group assignemnt and emundusMenu fixes.
  modules/mod_emundusmenu/mod_emundusmenu.php
  plugins/fabrik_form/php/scripts/emundus-SUPE_assign_to_groups.php
Labels: Module, Plugin

#675 SUPE group assingment fix, and added custom tags as sender email addresses.
  .idea/workspace.xml
  components/com_emundus/controllers/messages.php
  components/com_emundus/models/emails.php
  components/com_fabrik/views/list/tmpl/cci_companys/default.php
  plugins/fabrik_form/emundusconfirmpost/emundusconfirmpost.php
  plugins/fabrik_form/php/scripts/emundus-SUPE_assign_to_groups.php
Labels: Plugin, bugfix, emails, feature

#654 Regeneratepassword2
  .idea/workspace.xml
  administrator/components/com_admin/sql/updates/mysql/3.9.5-2019-04-16.sql
  components/com_emundus/controllers/messages.php
  components/com_emundus/controllers/users.php
  components/com_emundus/emundus.php
  components/com_emundus/language/en-GB/en-GB.com_emundus.ini
  components/com_emundus/language/fr-FR/fr-FR.com_emundus.ini
  components/com_emundus/models/users.php
  components/com_emundus/views/users/tmpl/default.php
  components/com_emundus/views/users/tmpl/user.php
  components/com_users/controllers/user.php
  media/com_emundus/js/em_user.js
Labels: feature, users

#680 Password regeneration, Added logo in PDF export, removed delete file option in mod_application (using param)
  .idea/workspace.xml
  administrator/components/com_admin/sql/updates/mysql/3.9.5-2019-04-16.sql
  administrator/components/com_emundus/config.xml
  administrator/components/com_emundus/language/en-GB/en-GB.com_emundus.ini
  administrator/components/com_emundus/language/fr-FR/fr-FR.com_emundus.ini
  components/com_emundus/controllers/evaluation.php
  components/com_emundus/controllers/messages.php
  components/com_emundus/controllers/users.php
  components/com_emundus/emundus.php
  components/com_emundus/language/en-GB/en-GB.com_emundus.ini
  components/com_emundus/language/fr-FR/fr-FR.com_emundus.ini
  components/com_emundus/models/application.php
  components/com_emundus/models/users.php
  components/com_emundus/views/trombinoscope/tmpl/default.php
  components/com_emundus/views/users/tmpl/default.php
  components/com_emundus/views/users/tmpl/user.php
  components/com_users/controllers/user.php
  libraries/emundus/pdf.php
  media/com_emundus/js/em_user.js
  modules/mod_emundus_applications/language/en-GB/en-GB.mod_emundus_applications.ini
  modules/mod_emundus_applications/language/fr-FR/fr-FR.mod_emundus_applications.ini
  modules/mod_emundus_applications/mod_emundus_applications.php
  modules/mod_emundus_applications/mod_emundus_applications.xml
  modules/mod_emundus_applications/tmpl/esiea.php
  plugins/fabrik_form/emunduscampaign/emunduscampaign.php
Labels: bugfix, enhancement, feature, users

#683 remove strtotime function on dates in campaign module
  modules/mod_emundus_campaign/tmpl/default_g5.php
Labels: Module, bugfix

#684 Fixed model/users, added file-upload plugin, HESAM module/application fix.
  components/com_emundus/models/users.php
  modules/mod_emundus_applications/tmpl/hesam.php
  plugins/fabrik_form/php/scripts/emundus-file-upload.php
Labels: Module, Plugin, bugfix

#655 Mod application state2
  .idea/workspace.xml
  components/com_emundus/models/files.php
  modules/mod_emundus_applications/helper.php
  modules/mod_emundus_applications/language/en-GB/en-GB.mod_emundus_applications.ini
  modules/mod_emundus_applications/language/fr-FR/fr-FR.mod_emundus_applications.ini
  modules/mod_emundus_applications/mod_emundus_applications.php
  modules/mod_emundus_applications/mod_emundus_applications.xml
  modules/mod_emundus_applications/tmpl/default.php
  modules/mod_emundus_applications/tmpl/esiea.php
  modules/mod_emundus_applications/tmpl/nanomed.php
  modules/mod_emundus_applications/tmpl/ti.php
Labels: Module, feature

#688 Merging in development done by @bretord.
  .idea/workspace.xml
  administrator/components/com_admin/sql/updates/mysql/3.9.5-2019-05-27-em.sql
  components/com_emundus/controllers/application.php
  components/com_emundus/controllers/files.php
  components/com_emundus/controllers/messages.php
  components/com_emundus/controllers/test.xlsx
  components/com_emundus/controllers/users.php
  components/com_emundus/emundus.php
  components/com_emundus/language/en-GB/en-GB.com_emundus.ini
  components/com_emundus/language/fr-FR/fr-FR.com_emundus.ini
  components/com_emundus/models/application.php
  components/com_emundus/models/files.php
  components/com_emundus/views/application/tmpl/attachment.php
  components/com_emundus/views/application/tmpl/form.php
  components/com_emundus/views/application/view.raw.php
  components/com_emundus/views/evaluation/tmpl/data.php
  components/com_emundus/views/files/tmpl/data.php
  components/com_emundus/views/files/tmpl/menuactions.php
  components/com_emundus/views/files/view.raw.php
  components/com_emundus/views/message/tmpl/default.php
  media/com_emundus/css/emundus_files.css
  media/com_emundus/js/em_files.js
  media/com_emundus/js/em_user.js
  modules/mod_emundus_applications/tmpl/default.php
  modules/mod_emundus_applications/tmpl/esiea.php
  modules/mod_emundus_applications/tmpl/ti.php
  plugins/hikashop/emundusprice/emundusprice.php
  plugins/hikashop/emundusprice/emundusprice.xml
  plugins/hikashop/emundusprice/form/fields.xml
  plugins/hikashop/emundusprice/language/en-GB/en-GB.plg_hikashop_emundusprice.ini
  plugins/hikashop/emundusprice/language/en-GB/en-GBplg_hikashop_emundusprice.sys.ini
  plugins/hikashop/emundusprice/language/fr-FR/fr-FR.plg_hikashop_emundusprice.ini
  plugins/hikashop/emundusprice/language/fr-FR/fr-FR.plg_hikashop_emundusprice.sys.ini
  templateEvaluation.xlsx
Labels: Design, Plugin, Quality of life, documents, enhancement, feature, users
