Repository emundus/v6, pull requests merged in 2019-01, with the labels that each got.

#514 Fixed payment verification in module.
  modules/mod_emundusflow/mod_emundusflow.php
Labels: Module, bugfix, payment

#515 Build 3.9.1/20190116B
  modules/mod_emundusflow/mod_emundusflow.php
Labels: Module, Production, bugfix, payment

#520 CSV import improvements and bugfixes.
  .idea/workspace.xml
  components/com_emundus/models/application.php
  plugins/fabrik_form/php/scripts/emundus-csv_import.php
Labels: bugfix, imports

#521 Build 3.9.2/20190122
  .idea/workspace.xml
  components/com_emundus/models/application.php
  plugins/fabrik_form/php/scripts/emundus-csv_import.php
Labels: Production, bugfix, imports

#526 Build 3.9.2/20190123B
  components/com_emundus/models/application.php
  components/com_emundus/models/profile.php
  modules/mod_emundusflow/language/en-GB/en-GB.mod_emundusflow.ini
  modules/mod_emundusflow/language/fr-FR/fr-FR.mod_emundusflow.ini
  modules/mod_emundusflow/mod_emundusflow.php
  modules/mod_emundusflow/mod_emundusflow.xml
  modules/mod_emundusflow/tmpl/esiea.php
  plugins/fabrik_form/emundusisapplicationsent/emundusisapplicationsent.php
  plugins/fabrik_form/php/scripts/emundus-ESIEA-admission-redirect.php
Labels: Admission, Module, Production

#527 HESAM style improvements and ESIEA advancements.
  components/com_fabrik/views/details/tmpl/search_engine/default.php
  components/com_fabrik/views/list/tmpl/search_engine/default.php
  modules/mod_emundus_cifre_offers/language/fr-FR/fr-FR.mod_emundus_cifre_offers.ini
  plugins/fabrik_form/emundusisapplicationsent/emundusisapplicationsent.php
  plugins/fabrik_form/emunduspushfiletoapi/emunduspushfiletoapi.php
  plugins/fabrik_form/emunduspushfiletoapi/emunduspushfiletoapi.xml
  plugins/fabrik_form/emunduspushfiletoapi/forms/fields.xml
  plugins/fabrik_form/emunduspushfiletoapi/forms/index.html
  plugins/fabrik_form/emunduspushfiletoapi/index.html
  plugins/fabrik_form/emunduspushfiletoapi/language/en-GB/en-GB.plg_fabrik_form_emunduspushfiletoapi.ini
  plugins/fabrik_form/emunduspushfiletoapi/language/en-GB/en-GB.plg_fabrik_form_emunduspushfiletoapi.sys.ini
  plugins/fabrik_form/emunduspushfiletoapi/language/fr-FR/fr-FR.plg_fabrik_form_emunduspushfiletoapi.ini
  plugins/fabrik_form/emunduspushfiletoapi/language/fr-FR/fr-FR.plg_fabrik_form_emunduspushfiletoapi.sys.ini
Labels: Design, Plugin, bugfix, search engine

#529 Updated HESAM offer page.
  components/com_emundus/models/cifre.php
  components/com_fabrik/views/details/tmpl/search_engine/default.php
  components/com_fabrik/views/list/tmpl/search_engine/default.php
Labels: Design, search engine

#530 Added emundus_users information to API push plugin. Fixed limit_date display for HESAM.
  components/com_fabrik/views/details/tmpl/search_engine/default.php
  plugins/fabrik_form/emunduspushfiletoapi/emunduspushfiletoapi.php
  plugins/fabrik_form/emunduspushfiletoapi/forms/fields.xml
  plugins/fabrik_form/emunduspushfiletoapi/language/en-GB/en-GB.plg_fabrik_form_emunduspushfiletoapi.ini
  plugins/fabrik_form/emunduspushfiletoapi/language/fr-FR/fr-FR.plg_fabrik_form_emunduspushfiletoapi.ini
Labels: Exports, Plugin, bugfix

#531 Bugfixes to API push plugin.
  plugins/fabrik_form/emunduspushfiletoapi/emunduspushfiletoapi.php
  plugins/fabrik_form/emunduspushfiletoapi/language/fr-FR/fr-FR.plg_fabrik_form_emunduspushfiletoapi.ini
Labels: Plugin, bugfix

#532 Added CC to API push and displaying hidden elements.
  plugins/fabrik_form/emunduspushfiletoapi/emunduspushfiletoapi.php
Labels: Exports, Plugin

#533 HESAM users can now receive a copy of the mail sent when they send a contact request.
  components/com_emundus/controllers/cifre.php
  components/com_emundus/controllers/messages.php
  components/com_fabrik/views/details/tmpl/search_engine/default.php
  plugins/fabrik_form/emunduspushfiletoapi/emunduspushfiletoapi.php
Labels: feature

#534 Added unobstrusive truncating of HESAM departments and thematics in s…
  components/com_fabrik/views/list/tmpl/search_engine/default.php
Labels: Design, search engine

#535 HESAM search now supports showing closed offers.
  components/com_fabrik/views/details/tmpl/search_engine/default.php
  components/com_fabrik/views/list/tmpl/search_engine/default.php
Labels: feature, search engine

#536 Added a default file upload for HESAM offers.
  components/com_emundus/controllers/cifre.php
  components/com_fabrik/views/details/tmpl/search_engine/default.php
Labels: feature

#539 HESAM offer date support, CCIRS JSON export improvements.
  components/com_emundus/helpers/list.php
  components/com_emundus/models/admission.php
  components/com_emundus/models/campaign.php
  components/com_emundus/models/decision.php
  components/com_emundus/models/evaluation.php
  components/com_emundus/views/campaign/view.json.php
  components/com_emundus/views/export_select_columns/tmpl/default.php
  components/com_emundus/views/export_select_columns/view.raw.php
  components/com_fabrik/views/details/tmpl/search_engine/default.php
  components/com_fabrik/views/list/tmpl/search_engine/default.php
  media/com_emundus/js/em_files.js
Labels: Exports, enhancement, search engine

#540 BUGFIXES 😡
  components/com_emundus/helpers/list.php
  components/com_emundus/views/campaign/view.json.php
Labels: bugfix
